<div class="login-page d-flex min-vh-100">

  <div class="login-content d-flex align-items-center justify-content-center w-100">
    <div class="login-form w-100" style="max-width: 450px;">

      <h2 class="fw-bold text-center mb-4">
        Reset Password
      </h2>

      <form *ngIf="!successMessage" [formGroup]="form" (ngSubmit)="submit()">

        <div class="mb-3">
          <label class="form-label">New Password</label>
          <input
            type="password"
            formControlName="newPassword"
            class="form-control cool-input"
          />

          <div *ngIf="form.get('newPassword')?.touched && form.get('newPassword')?.invalid"
               class="text-danger small mt-1">
            Password must be at least 6 characters
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label">Confirm Password</label>
          <input
            type="password"
            formControlName="confirmPassword"
            class="form-control cool-input"
          />
        </div>

        <div *ngIf="errorMessage" class="alert alert-danger">
          {{ errorMessage }}
        </div>

        <button
          type="submit"
          class="cool-btn w-100"
          [disabled]="loading"
        >
          {{ loading ? '...' : 'Reset Password' }}
        </button>

      </form>

      <div *ngIf="successMessage" class="alert alert-success text-center">
        {{ successMessage }}
      </div>

    </div>
  </div>
</div>
