<div class="forgot-page d-flex min-vh-100 align-items-center justify-content-center">
  <div class="forgot-card">
    <h2 class="forgot-title">Forgot Password</h2>

    <p class="forgot-subtitle">
      Enter your email address and we’ll send you a reset link.
    </p>

    <form [formGroup]="form" (ngSubmit)="submit()">
      <label class="form-label">Email</label>
      <input
        class="form-control cool-input"
        formControlName="email"
        placeholder="example@email.com"
      />

      <button
        class="cool-btn w-100 mt-3"
        [disabled]="loading || form.invalid"
      >
        {{ loading ? '...' : 'Send Reset Link' }}
      </button>

      <div *ngIf="successMessage" class="alert alert-success mt-3 text-center">
        {{ successMessage }}
      </div>

      <div *ngIf="errorMessage" class="alert alert-danger mt-3 text-center">
        {{ errorMessage }}
      </div>
    </form>
  </div>
</div>
