<!-- Partner Section -->
<section class="partner-section standard-section-layout">
  <div class="partner-header">
    <h2 class="hero-subtitle">شـركـاء الـنـجـاح</h2>
    <p class="paragraph text-muted">
      نحن فخورون بالتعاون مع شركات مبتكرة من جميع أنحاء العالم. يساعدنا شركاؤنا
      على تقديم حلول استثنائية لعملائنا.
    </p>
  </div>

  <!-- Partner Logos Grid -->
  <div class="partner-grid">
    <!-- Partner 1 -->
    <div class="partner-card">
      <div class="partner-logo">
        <img src="assets/images/partner (1).jpeg" alt="partner logo" />
      </div>
      <p class="partner-name">الخوارزمي الصغير</p>
    </div>

    <!-- Partner 2 -->
    <div class="partner-card">
      <div class="partner-logo">
        <img
          src="assets/images/partner (2).jpeg"
          alt="partner logo"
          class="special-logo-1"
        />
      </div>
      <p class="partner-name">بيبراس موهبة</p>
    </div>

    <!-- Partner 3 -->
    <div class="partner-card">
      <div class="partner-logo">
        <img src="assets/images/partner (3).jpeg" alt="partner logo" />
      </div>
      <p class="partner-name">zoom</p>
    </div>

    <!-- Partner 4 -->
    <div class="partner-card">
      <div class="partner-logo">
        <img src="assets/images/partner (4).jpeg" alt="partner logo" />
      </div>
      <p class="partner-name">HMH</p>
    </div>

    <!-- Partner 5 -->
    <div class="partner-card">
      <div class="partner-logo">
        <img src="assets/images/partner (5).jpeg" alt="partner logo" />
      </div>
      <p class="partner-name">CAMBRIDGE IGCSE</p>
    </div>

    <!-- Partner 6 -->
    <div class="partner-card">
      <div class="partner-logo">
        <img
          src="assets/images/partner (6).jpeg"
          alt="partner logo"
          class="special-logo-6"
        />
      </div>
      <p class="partner-name">edexcel</p>
    </div>

    <!-- Partner 7 -->
    <div class="partner-card">
      <div class="partner-logo">
        <img src="assets/images/partner (7).jpeg" alt="partner logo" />
      </div>
      <p class="partner-name">Qodrat</p>
    </div>

    <!-- Partner 8 -->
    <div class="partner-card">
      <div class="partner-logo">
        <img
          src="assets/images/partner (8).jpeg"
          alt="partner logo"
          class="special-logo-8"
        />
      </div>
      <p class="partner-name">W</p>
    </div>

    <!-- Partner 9 -->
    <div class="partner-card">
      <div class="partner-logo">
        <img src="assets/images/partner (9).jpeg" alt="partner logo" />
      </div>
      <p class="partner-name">NATIONAL GEOGRAPHIC LEARNING</p>
    </div>

    <!-- Partner 10 -->
    <div class="partner-card">
      <div class="partner-logo">
        <img src="assets/images/partner (10).jpeg" alt="partner logo" />
      </div>
      <p class="partner-name">UNIVERSITY OF CAMBRIDGE</p>
    </div>

    <!-- Partner 11 -->
    <div class="partner-card">
      <div class="partner-logo">
        <img
          src="assets/images/partner (11).jpeg"
          class="special-logo-11"
          alt="partner logo"
        />
      </div>
      <p class="partner-name">كانجارو موهبة</p>
    </div>

    <!-- Partner 12 -->
    <div class="partner-card">
      <div class="partner-logo">
        <img src="assets/images/partner (12).jpeg" alt="partner logo" />
      </div>
      <p class="partner-name">STEAM</p>
    </div>

    <!-- Partner 13 -->
    <div class="partner-card">
      <div class="partner-logo">
        <img src="assets/images/partner (13).jpeg" alt="partner logo" />
      </div>
      <p class="partner-name">BRITISH COUNCIL</p>
    </div>
    <!-- Partner 14 -->
    <div class="partner-card">
      <div class="partner-logo">
        <img src="assets/images/partner (14).jpeg" alt="partner logo" />
      </div>
      <p class="partner-name">IELTS</p>
    </div>
    <!-- Partner 15 -->
    <div class="partner-card">
      <div class="partner-logo">
        <img src="assets/images/partner (15).jpeg" alt="partner logo" />
      </div>
      <p class="partner-name">UNIVERSITY OF OXFORD</p>
    </div>
    <!-- Partner 15 -->
    <div class="partner-card">
      <div class="partner-logo">
        <img src="assets/images/partner (16).jpeg" alt="partner logo" />
      </div>
      <p class="partner-name">LiteracyPlanet</p>
    </div>
  </div>
</section>
