<!-- Partner Section -->
<section class="partner-section standard-section-layout">
  <div class="partner-header">
    <h2 class="hero-title">{{ "PARTNERS.TITLE" | translate }}</h2>
    <p class="paragraph">
      {{ "PARTNERS.DESCRIPTION" | translate }}
    </p>
  </div>

  <!-- Partner Logos Grid -->
  <div class="partner-grid">
    <!-- Partner 1 -->
    <div class="partner-card">
      <div class="partner-logo">
        <img src="assets/images/partner (1).jpeg" alt="partner logo" />
      </div>
      <p class="partner-name">
        {{ "PARTNERS.PARTNER_NAMES.PARTNER_1" | translate }}
      </p>
    </div>

    <!-- Partner 2 -->
    <div class="partner-card">
      <div class="partner-logo">
        <img
          src="assets/images/partner (2).jpeg"
          alt="partner logo"
          class="special-logo-1"
        />
      </div>
      <p class="partner-name">
        {{ "PARTNERS.PARTNER_NAMES.PARTNER_2" | translate }}
      </p>
    </div>

    <!-- Partner 3 -->
    <div class="partner-card">
      <div class="partner-logo">
        <img src="assets/images/partner (3).jpeg" alt="partner logo" />
      </div>
      <p class="partner-name">
        {{ "PARTNERS.PARTNER_NAMES.PARTNER_3" | translate }}
      </p>
    </div>

    <!-- Partner 4 -->
    <div class="partner-card">
      <div class="partner-logo">
        <img src="assets/images/partner (4).jpeg" alt="partner logo" />
      </div>
      <p class="partner-name">
        {{ "PARTNERS.PARTNER_NAMES.PARTNER_4" | translate }}
      </p>
    </div>

    <!-- Partner 5 -->
    <div class="partner-card">
      <div class="partner-logo">
        <img src="assets/images/partner (5).jpeg" alt="partner logo" />
      </div>
      <p class="partner-name">
        {{ "PARTNERS.PARTNER_NAMES.PARTNER_5" | translate }}
      </p>
    </div>

    <!-- Partner 6 -->
    <div class="partner-card">
      <div class="partner-logo">
        <img
          src="assets/images/partner (6).jpeg"
          alt="partner logo"
          class="special-logo-6"
        />
      </div>
      <p class="partner-name">
        {{ "PARTNERS.PARTNER_NAMES.PARTNER_6" | translate }}
      </p>
    </div>

    <!-- Partner 7 -->
    <div class="partner-card">
      <div class="partner-logo">
        <img src="assets/images/partner (7).jpeg" alt="partner logo" />
      </div>
      <p class="partner-name">
        {{ "PARTNERS.PARTNER_NAMES.PARTNER_7" | translate }}
      </p>
    </div>

    <!-- Partner 8 -->
    <div class="partner-card">
      <div class="partner-logo">
        <img
          src="assets/images/partner (8).jpeg"
          alt="partner logo"
          class="special-logo-8"
        />
      </div>
      <p class="partner-name">
        {{ "PARTNERS.PARTNER_NAMES.PARTNER_8" | translate }}
      </p>
    </div>

    <!-- Partner 9 -->
    <div class="partner-card">
      <div class="partner-logo">
        <img src="assets/images/partner (9).jpeg" alt="partner logo" />
      </div>
      <p class="partner-name">
        {{ "PARTNERS.PARTNER_NAMES.PARTNER_9" | translate }}
      </p>
    </div>

    <!-- Partner 10 -->
    <div class="partner-card">
      <div class="partner-logo">
        <img src="assets/images/partner (10).jpeg" alt="partner logo" />
      </div>
      <p class="partner-name">
        {{ "PARTNERS.PARTNER_NAMES.PARTNER_10" | translate }}
      </p>
    </div>

    <!-- Partner 11 -->
    <div class="partner-card">
      <div class="partner-logo">
        <img
          src="assets/images/partner (11).jpeg"
          class="special-logo-11"
          alt="partner logo"
        />
      </div>
      <p class="partner-name">
        {{ "PARTNERS.PARTNER_NAMES.PARTNER_11" | translate }}
      </p>
    </div>

    <!-- Partner 12 -->
    <div class="partner-card">
      <div class="partner-logo">
        <img src="assets/images/partner (12).jpeg" alt="partner logo" />
      </div>
      <p class="partner-name">
        {{ "PARTNERS.PARTNER_NAMES.PARTNER_12" | translate }}
      </p>
    </div>

    <!-- Partner 13 -->
    <div class="partner-card">
      <div class="partner-logo">
        <img src="assets/images/partner (13).jpeg" alt="partner logo" />
      </div>
      <p class="partner-name">
        {{ "PARTNERS.PARTNER_NAMES.PARTNER_13" | translate }}
      </p>
    </div>
    <!-- Partner 14 -->
    <div class="partner-card">
      <div class="partner-logo">
        <img src="assets/images/partner (14).jpeg" alt="partner logo" />
      </div>
      <p class="partner-name">
        {{ "PARTNERS.PARTNER_NAMES.PARTNER_14" | translate }}
      </p>
    </div>
    <!-- Partner 15 -->
    <div class="partner-card">
      <div class="partner-logo">
        <img src="assets/images/partner (15).jpeg" alt="partner logo" />
      </div>
      <p class="partner-name">
        {{ "PARTNERS.PARTNER_NAMES.PARTNER_15" | translate }}
      </p>
    </div>
    <!-- Partner 16 -->
    <div class="partner-card">
      <div class="partner-logo">
        <img src="assets/images/partner (16).jpeg" alt="partner logo" />
      </div>
      <p class="partner-name">
        {{ "PARTNERS.PARTNER_NAMES.PARTNER_16" | translate }}
      </p>
    </div>
  </div>
</section>
