<section class="hero-section">
  <div class="hero-overlay"></div>

  <div class="hero-content">
    <h1 class="hero-title">
      {{ "HERO.TITLE_Part1" | translate }}
      <span>{{ "HERO.TITLE_SPAN" | translate }}</span>
      {{ "HERO.TITLE_Part2" | translate }}
    </h1>
    <p class="hero-subtitle">{{ "HERO.SUBTITLE" | translate }}</p>
    <!-- <button class="primary-btn hero-cta">{{ 'HERO.CTA' | translate }}</button> -->
  </div>
</section>

<section>
  <div class="feature-cards-container">
    <div class="feature-cards-row feature-card">
      <!-- Card 3: British Curriculum -->
      <div class="feature-card-wrapper">
        <div class="card-icon">
          <i class="bi bi-mortarboard"></i>
        </div>
        <div class="card-content">
          <h3 class="main-title">
            {{ "FEATURES.CURRICULUM.TITLE" | translate }}
          </h3>
          <p class="paragraph">
            {{ "FEATURES.CURRICULUM.DESCRIPTION" | translate }}
          </p>
          <!-- <a href="#" class="custom-link">{{ 'FEATURES.CURRICULUM.LINK' | translate }} <i class="bi bi-arrow-left"></i></a> -->
        </div>
      </div>

      <div class="vertical-divider"></div>

      <!-- Card 2: New Educational Style -->
      <div class="feature-card-wrapper">
        <div class="card-icon">
          <i class="bi bi-book"></i>
        </div>
        <div class="card-content">
          <h3 class="main-title">
            {{ "FEATURES.EDUCATION_STYLE.TITLE" | translate }}
          </h3>
          <p class="paragraph">
            {{ "FEATURES.EDUCATION_STYLE.DESCRIPTION" | translate }}
          </p>
          <!-- <a href="#" class="custom-link">{{ 'FEATURES.EDUCATION_STYLE.LINK' | translate }} <i class="bi bi-arrow-left"></i></a> -->
        </div>
      </div>

      <div class="vertical-divider"></div>

      <!-- Card 1: Digital Education -->
      <div class="feature-card-wrapper">
        <div class="card-icon">
          <i class="bi bi-display"></i>
        </div>
        <div class="card-content">
          <h3 class="main-title">
            {{ "FEATURES.DIGITAL_EDUCATION.TITLE" | translate }}
          </h3>
          <p class="paragraph">
            {{ "FEATURES.DIGITAL_EDUCATION.DESCRIPTION" | translate }}
          </p>
          <!-- <a href="#" class="custom-link">{{ 'FEATURES.DIGITAL_EDUCATION.LINK' | translate }} <i class="bi bi-arrow-left"></i></a> -->
        </div>
      </div>
    </div>
  </div>
</section>
