.app-footer {
  margin-top: 4rem;
}

/* MAIN FOOTER */
.footer-main {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid var(--color-gray-400);
}

.footer-logo {
  max-width: 232.35px;
  height: auto; /* Let height adjust automatically */
  margin-bottom: 1rem;
}

.footer-description {
  padding: 10px;
  font-size: 0.95rem;
  line-height: 1.5;
  color: var(--color-text-light-bg);
}

/* LINKS */
.footer-links {
  list-style: none;
  padding: 0;
}

.footer-links li {
  margin-bottom: 0.5rem;
}

.custom-link {
  font-size: medium;
  /* font-weight: bold; */
  text-decoration: none;
  color: var(--color-text-light-bg);
}

.custom-link:hover {
  color: var(--color-primary-300);
}

/* ===== SIMPLE DEVELOPED BY ===== */
.footer-team-simple {
  padding: 0.8rem 0;
  background-color: var(--color-bg-secondary);
  border-top: 1px solid var(--color-gray-300);
}

.team-simple-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  flex-wrap: wrap;
  font-size: 0.9rem;
}

/* Logo */
.team-simple-logo {
  padding-left: 0;
  margin-left: 0;
  width: 40px;
  height: 40px;
  /* border-radius: 50%;
  border: 1px solid var(--color-gray-300); */
  display: flex;
  align-items: center;
  justify-content: start;
  /* background-color: var(--color-bg); */
}

.team-simple-logo img {
  width: 22px;
}

/* Text */
.team-simple-name {
  font-size: medium;
  font-weight: 700;
  color: var(--color-primary-developer);
}

.team-simple-phone {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  color: var(--color-text-muted);
}

.team-simple-phone i {
  color: #25d366;
}

.team-simple-email {
  color: var(--color-primary-300);
  text-decoration: none;
  font-weight: 500;
}

.team-simple-email:hover {
  text-decoration: underline;
}

/* BOTTOM */
.footer-bottom {
  background-color: var(--color-primary-400);
  padding: 1rem;
  text-align: center;
  color: white;
}
.sub-title{
  font-size: large;
  font-weight: bold;
  color: var(--color-primary-300);
  margin-bottom: 1rem;
}

/* ===== RESPONSIVE ===== */
@media (max-width: 900px) {
  .footer-main {
    grid-template-columns: 1fr;
    text-align: center;
  }
}

@media (max-width: 600px) {
  .team-simple-row {
    flex-direction: column;
    gap: 0.5rem;
  }
}
