<footer class="app-footer">

  <!-- ===== MAIN FOOTER ===== -->
  <div class="container footer-main">

    <!-- School Info -->
    <div class="footer-column logo-column">
      <img
        [src]="isDarkMode ? 'assets/images/logoDark.png' : 'assets/images/logo-nobg.png'"
        class="footer-logo"
      />
      <!-- <p class="footer-description">
        {{ 'FOOTER.DESCRIPTION' | translate }}
      </p> -->
    </div>

    <!-- Quick Links -->
    <div class="footer-column">
      <h4 class="sub-title">{{ 'FOOTER.QUICK_LINKS.TITLE' | translate }}</h4>
      <ul class="footer-links">
        <li><a class="custom-link" href="#">{{ 'FOOTER.QUICK_LINKS.HOME' | translate }}</a></li>
        <li><a class="custom-link" href="#">{{ 'FOOTER.QUICK_LINKS.ABOUT' | translate }}</a></li>
        <li><a class="custom-link" href="#">{{ 'FOOTER.QUICK_LINKS.PROGRAMS' | translate }}</a></li>
        <li><a class="custom-link" href="#">{{ 'FOOTER.QUICK_LINKS.CONTACT' | translate }}</a></li>
      </ul>
    </div>

    <!-- Policies -->
    <div class="footer-column">
      <h4 class="sub-title">{{ 'FOOTER.POLICIES.TITLE' | translate }}</h4>
      <ul class="footer-links">
        <li><a class="custom-link" href="#">{{ 'FOOTER.POLICIES.PRIVACY' | translate }}</a></li>
        <li><a class="custom-link" href="#">{{ 'FOOTER.POLICIES.TERMS' | translate }}</a></li>
        <li><a class="custom-link" href="#">{{ 'FOOTER.POLICIES.COOKIES' | translate }}</a></li>
      </ul>
    </div>

  </div>

  <!-- ===== DEVELOPED BY (SMALL + LOGO) ===== -->
  <div class="footer-team-simple">
    <div class="container">

      <div class="team-simple-row">

        <!-- Logo -->
        

        <!-- Name -->
        <span class="team-simple-name">
         {{ 'FOOTER.DEVELOPED_BY.TITLE' | translate }} 
        </span>
        <div class="team-simple-logo" (click)="openWhatsApp()" style="cursor: pointer;">
          <img
            [src]="isDarkMode ? 'assets/images/team-logo-dark.png' : 'assets/images/team-logo-light.png'"
            alt="VST Logo"
            class="w-100"
          />
        </div>

        <!-- Phone -->
        <!-- <span class="team-simple-phone" (click)="openWhatsApp()" style="cursor: pointer;">
          <i class="fa-brands fa-whatsapp"></i>
          +201140106990
        </span> -->

        <!-- Email -->
        <!-- <a href="mailto:vstit2026@gmail.com" class="team-simple-email">
          vstit2026&#64;gmail.com
        </a> -->

      </div>

    </div>
  </div>

  <!-- ===== COPYRIGHT ===== -->
  <div class="footer-bottom">
    <p [innerHTML]="'FOOTER.COPYRIGHT' | translate"></p>
  </div>

</footer>
