<footer class="app-footer container">
  <div class="container footer-main">
    <div class="footer-column logo-column">
      <!-- Placeholder for Logo -->
      <div class="logo-container">
        <img
          src="assets/images/logo (4).jpeg"
          [alt]="'FOOTER.LOGO_ALT' | translate"
          class="footer-logo"
        />
      </div>
      <p class="paragraph footer-description">
        {{ "FOOTER.DESCRIPTION" | translate }}
      </p>
      <div class="social-links">
        <!-- Placeholder for Social Media Icons -->
        <!-- <a href="#" class="social-icon"></a>
        <a href="#" class="social-icon"></a>
        <a href="#" class="social-icon"></a> -->
      </div>
    </div>

    <div class="footer-column links-column">
      <h4 class="sub-title">{{ "FOOTER.QUICK_LINKS.TITLE" | translate }}</h4>
      <ul class="footer-links">
        <li>
          <a href="#" class="custom-link">{{
            "FOOTER.QUICK_LINKS.HOME" | translate
          }}</a>
        </li>
        <li>
          <a href="#" class="custom-link">{{
            "FOOTER.QUICK_LINKS.ABOUT" | translate
          }}</a>
        </li>
        <li>
          <a href="#" class="custom-link">{{
            "FOOTER.QUICK_LINKS.PROGRAMS" | translate
          }}</a>
        </li>
        <li>
          <a href="#" class="custom-link">{{
            "FOOTER.QUICK_LINKS.CONTACT" | translate
          }}</a>
        </li>
      </ul>
    </div>

    <div class="footer-column contact-column">
      <h4 class="sub-title">{{ "FOOTER.POLICIES.TITLE" | translate }}</h4>
      <ul class="footer-links">
        <li>
          <a href="#" class="custom-link">{{
            "FOOTER.POLICIES.PRIVACY" | translate
          }}</a>
        </li>
        <li>
          <a href="#" class="custom-link">{{
            "FOOTER.POLICIES.TERMS" | translate
          }}</a>
        </li>
        <li>
          <a href="#" class="custom-link">{{
            "FOOTER.POLICIES.COOKIES" | translate
          }}</a>
        </li>
      </ul>
    </div>

    <div class="footer-column newsletter-column">
      <h4 class="sub-title">{{ "FOOTER.FOLLOW_US.TITLE" | translate }}</h4>
      <ul class="footer-links">
        <li>
          <a href="#" class="custom-link">{{
            "FOOTER.FOLLOW_US.FACEBOOK" | translate
          }}</a>
        </li>
        <li>
          <a href="#" class="custom-link">{{
            "FOOTER.FOLLOW_US.INSTAGRAM" | translate
          }}</a>
        </li>
        <li>
          <a href="#" class="custom-link">{{
            "FOOTER.FOLLOW_US.TWITTER" | translate
          }}</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="footer-bottom">
    <div class="container footer-bottom-content">
      <p
        class="paragraph copyright-text"
        [innerHTML]="'FOOTER.COPYRIGHT' | translate"
      ></p>
    </div>
  </div>
</footer>
