<footer class="app-footer container">
  <div class="container footer-main">
    <div class="footer-column logo-column">
      <!-- Placeholder for Logo -->
      <div class="logo-container">
        <img
          src="assets/images/logo (4).jpeg"
          alt="Al Maaly Gate Schools Logo"
          class="footer-logo"
        />
      </div>
      <p class="paragraph footer-description">
        تهدف مدارس المعالي إلي تحقيق أعلى مستوى جودة في التعليم من أجل بناء
        المهارات الضرورية واللازمة التي تمكن طلابنا من استكمال تعليمهم الجامعي.
      </p>
      <div class="social-links">
        <!-- Placeholder for Social Media Icons -->
        <!-- <a href="#" class="social-icon"></a>
        <a href="#" class="social-icon"></a>
        <a href="#" class="social-icon"></a> -->
      </div>
    </div>

    <div class="footer-column links-column">
      <h4 class="sub-title">روابط سريعة</h4>
      <ul class="footer-links">
        <li><a href="#" class="custom-link">الرئيسية</a></li>
        <li><a href="#" class="custom-link">من نحن</a></li>
        <li><a href="#" class="custom-link">البرامج</a></li>
        <li><a href="#" class="custom-link">اتصل بنا</a></li>
      </ul>
    </div>

    <div class="footer-column contact-column">
      <h4 class="sub-title">سياستنا</h4>
      <ul class="footer-links">
        <li>
          <a href="#" class="custom-link">سياسة الخصوصية</a>
        </li>
        <li>
          <a href="#" class="custom-link">شروط الاستخدام</a>
        </li>
        <li>
          <a href="#" class="custom-link">سياسة ملفات تعريف الارتباط</a>
        </li>
      </ul>
    </div>

    <div class="footer-column newsletter-column">
      <h4 class="sub-title">تابعنا على</h4>
      <ul class="footer-links">
        <li>
          <a href="#" class="custom-link">فيسبوك</a>
        </li>
        <li>
          <a href="#" class="custom-link">انستاجرام</a>
        </li>
        <li>
          <a href="#" class="custom-link">منصة إكس</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="footer-bottom">
    <div class="container footer-bottom-content">
      <p class="paragraph copyright-text">
        &copy;2026 مدارس بوابة المعالي، كل الحقوق محفوظة
      </p>
    </div>
  </div>
</footer>
