/* App Layout for Sticky Footer */
html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.app-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* full height */
}

.flex-grow-1 {
  flex: 1; /* pushes footer down */
}

.padding{
  padding-top: 63.25px;
}