.feature-section {
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section-header {
  text-align: center;
  position: relative;
  z-index: 1;
}


/* Feature Cards Container */
.feature-cards-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 40px;
  position: relative;
  z-index: 2;
}

/* Individual Feature Card Styling */
.feature-card {
  flex: 1;
  max-width: 489.2px;
  max-height: auto;
  border-radius: 3rem;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.feature-card:hover {
  transform: translateY(-5px);
}

.illustration {
  height: 269px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0047AB;
}

.illustration img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.card-content {
  padding: 2.4rem;
  color: white;
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  border-radius: 0 0 30px 30px;
  background-color: #0047AB;
}



.main-title {
  color: white;
}

.card-content .paragraph {
  color: white;
  font-size: var(--font-lg);
  margin: 0;
}

.primary-btn {
  margin-top: 2rem;
}

.hero-title {
  font-size: var(--font-6xl);
}

.paragraph {
  font-size: var(--font-3xl);
  width: 80%;
  margin: 0 auto;
}


/* Responsive Design (Optional but good practice) */
@media (max-width: 1000px) {
  .feature-cards-container {
    flex-wrap: wrap;
  }

  .feature-card {
    max-width: 45%;
  }
}

@media (max-width: 600px) {
  .feature-cards-container {
    flex-direction: column;
    align-items: center;
  }

  .feature-card {
    max-width: 100%;
  }

  .section-header {
    padding: 40px 20px 80px;
    margin-bottom: -40px;
  }
}