<div class="feature-section">
  <div class="section-header">
    <h1 class="hero-title">بــرامــجــنــا</h1>
    <p class="paragraph">
      نقدّم برامج تعليمية عالمية المستوى تعتمد المنهج البريطاني، مع طرق تعلم
      مبتكرة وتقنيات تقييم متنوعة، لتعزيز مهارات الطلاب الأكاديمية والشخصية
      وإعدادهم لمستقبل ناجح بثقة وكفاءة.
    </p>
  </div>

  <div class="feature-cards-container">
    <div class="feature-card">
      <div class="illustration">
        <img src="assets/images/image_1.png" alt="illustration" />
      </div>
      <div class="card-content">
        <h3 class="main-title">امتحانات وشهادات التخرج</h3>
        <p class="paragraph">
          من خلال نظام امتحانات منظم وشهادات معتمدة، نضمن تقييمًا عادلًا يمنح
          الطالب شهادة تفتح له آفاق المستقبل بثقة.
        </p>
      </div>
    </div>

    <!-- Card 2: اختبرات المراقبة المستمرة والقدرات -->
    <div class="feature-card">
      <div class="illustration">
        <img src="assets/images/image_2.png" alt="illustration" />
      </div>
      <div class="card-content">
        <h3 class="main-title">اختبرات المراقبة المستمرة والقدرات</h3>
        <p class="paragraph">
          اختبارات المراقبة المستمرة والقدرات تضمن قياسًا دقيقًا لمستوى الطالب
          وتدعم تطوره بثقة واستمرارية.
        </p>
      </div>
    </div>

    <!-- Card 3: طرق تعلم فعالة وعالية الجودة -->
    <div class="feature-card">
      <div class="illustration">
        <img src="assets/images/image_3.png" alt="illustration" />
      </div>
      <div class="card-content">
        <h3 class="main-title">طرق تعلم فعالة وعالية الجودة</h3>
        <p class="paragraph">
          طرق تعلم فعّالة وعالية الجودة تضمن فهماً أعمق وتطوّرًا مستمرًا للطلاب.
        </p>
      </div>
    </div>
  </div>

  <!-- <button class="primary-btn">عرض المزيد</button> -->
</div>
