<div class="programs-section">
  <h2 class="text-center mb-4 programs-title">{{ 'programs.title' | translate }}</h2>

  <div class="row g-4 justify-content-center">
    <!-- Card 1 -->
    <div class="col-md-4">
      <div class="card program-card h-100 p-0">
        <img src="assets/images/program1.png" class="card-img-top program-img" alt="{{ 'programs.learningMethods' | translate }}">
        <div class="card-body text-center">
          <h5 class="card-title">{{ 'programs.learningMethods' | translate }}</h5>
          <p class="card-text">{{ 'programs.learningMethodsDesc' | translate }}</p>
        </div>
      </div>
    </div>

    <!-- Card 2 -->
    <div class="col-md-4">
      <div class="card program-card h-100 p-0">
        <img src="assets/images/program2.jpg" class="card-img-top program-img" alt="{{ 'programs.quizzes' | translate }}">
        <div class="card-body text-center">
          <h5 class="card-title">{{ 'programs.quizzes' | translate }}</h5>
          <p class="card-text">{{ 'programs.quizzesDesc' | translate }}</p>
        </div>
      </div>
    </div>

    <!-- Card 3 -->
    <div class="col-md-4">
      <div class="card program-card h-100 p-0">
        <img src="assets/images/program3.jpg" class="card-img-top program-img" alt="{{ 'programs.exams' | translate }}">
        <div class="card-body text-center">
          <h5 class="card-title">{{ 'programs.exams' | translate }}</h5>
          <p class="card-text">{{ 'programs.examsDesc' | translate }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
