<div class="container mt-4">
  <h3 class="main-title">قائمة الاختبارات</h3>

  <div class="mb-3 d-flex gap-2">
    <button
      class="outline-btn"
      [class.primary-btn]="filter === 'all'"
      (click)="filter = 'all'"
    >
      الكل
    </button>
    <button
      class="outline-btn"
      [class.primary-btn]="filter === 'Upcoming'"
      (click)="filter = 'Upcoming'"
    >
      المتاحة
    </button>
    <button
      class="outline-btn"
      [class.primary-btn]="filter === 'Running'"
      (click)="filter = 'Running'"
    >
      الجارية
    </button>
    <button
      class="outline-btn"
      [class.primary-btn]="filter === 'Finished'"
      (click)="filter = 'Finished'"
    >
      المنتهية
    </button>
  </div>

  <div class="row g-3">
    <div *ngFor="let test of filteredExams" class="col-md-6">
      <div class="card p-3">
        <h5 class="sub-title mb-1">{{ test.subjectName }}</h5>
        <p class="text-muted mb-1">المعلم: {{ test.teacherName }}</p>
        <p class="text-muted mb-1">
          من: {{ test.start | date : "shortTime" }} إلى:
          {{ test.end | date : "shortTime" }}
        </p>

        <div class="d-flex justify-content-between align-items-center mt-2">
          <span class="badge">
            {{ test.status }}
          </span>

          <button
            class="primary-btn"
            [disabled]="
              test.status === 'Upcoming' || test.status === 'Finished'
            "
            (click)="startExam(test.examId)"
          >
            بدء الحل
          </button>
        </div>

        <div class="mt-2">
          <strong>الدرجة:</strong> {{ test.minMark }} / {{ test.fullMark }}
        </div>
      </div>
    </div>
  </div>
</div>
