<div class="container mt-4">
  <h3 class="main-title">{{ "STUDENT_TESTS.TITLE" | translate }}</h3>

  <div class="mb-3 d-flex gap-2">
    <button
      class="outline-btn"
      [class.primary-btn]="filter === 'all'"
      (click)="filter = 'all'"
    >
      {{ "STUDENT_TESTS.FILTER_ALL" | translate }}
    </button>
    <button
      class="outline-btn"
      [class.primary-btn]="filter === 'Upcoming'"
      (click)="filter = 'Upcoming'"
    >
      {{ "STUDENT_TESTS.FILTER_UPCOMING" | translate }}
    </button>
    <button
      class="outline-btn"
      [class.primary-btn]="filter === 'Running'"
      (click)="filter = 'Running'"
    >
      {{ "STUDENT_TESTS.FILTER_RUNNING" | translate }}
    </button>
    <button
      class="outline-btn"
      [class.primary-btn]="filter === 'Finished'"
      (click)="filter = 'Finished'"
    >
      {{ "STUDENT_TESTS.FILTER_FINISHED" | translate }}
    </button>
  </div>

  <div class="row g-3">
    <div *ngFor="let test of filteredExams" class="col-md-6">
      <div class="card p-3">
        <h5 class="sub-title mb-1">{{ test.subjectName }}</h5>
        <p class="text-muted mb-1">
          {{ "STUDENT_TESTS.TEACHER" | translate }}: {{ test.teacherName }}
        </p>
        <p class="text-muted mb-1">
          {{ "STUDENT_TESTS.FROM" | translate }}:
          {{ test.start | date : "shortTime" }}
          {{ "STUDENT_TESTS.TO" | translate }}:
          {{ test.end | date : "shortTime" }}
        </p>

        <div class="d-flex justify-content-between align-items-center mt-2">
          <span class="badge">
            {{ test.status }}
          </span>

          <button
            class="primary-btn"
            [disabled]="
              test.status === 'Upcoming' || test.status === 'Finished'
            "
            (click)="startExam(test.examId)"
          >
            {{ "STUDENT_TESTS.START_EXAM" | translate }}
          </button>
        </div>

        <div class="mt-2">
          <strong>{{ "STUDENT_TESTS.SCORE" | translate }}:</strong>
          {{ test.minMark }} / {{ test.fullMark }}
        </div>
      </div>
    </div>
  </div>
</div>
