.dashboard-nav {
  height: 100%;
  background-color: var(--color-bg-secondary);
  gap: var(--space-xl);
}

.hero-title {
  font-size: var(--font-xl);
  font-weight: var(--font-weight-bold);
  margin-bottom: var(--space-lg);
}

.nav-link {
  font-size: var(--font-base);
  padding: var(--space-md) var(--space-sm);
  border-radius: var(--radius-sm);
  display: flex;
  align-items: center;
  gap: 0.5rem;
}


.active {
  background-color: var(--color-primary-300);
  color: var(--color-text-dark-bg);
}

.role-switcher {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.role-btn {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  font-size: 1.2rem;
}

.role-btn i {
  font-size: 1.1rem;
}