<div class="contact-us-section">
  <div class="section-header">
    <h2 class="main-title">تواصل معنا</h2>
    <p class="paragraph">نحن سعداء دائما باستقبال استفساراتكم او شكاويكم</p>
  </div>

  <div class="container contact-content">
    <div class="contact-info-map-container">
      <div class="contact-info">
        <h3 class="sub-title">بيانات الاتصال</h3>
        <div class="info-item">
          <!-- Placeholder for Phone Icon -->
          <img src="assets/images/Contact.svg" alt="phone number" />
          <p class="paragraph">
            +966 016 369 3555
            <br />
            +966 016 369 4555
          </p>
        </div>
        <div class="info-item">
          <!-- Placeholder for Email Icon -->
          <img src="assets/images/Mail.svg" alt="mail" />
          <p class="paragraph">{{ contactInfo.email }}</p>
        </div>
        <div class="info-item">
          <p class="paragraph">Address:</p>
          <p class="paragraph">{{ contactInfo.address }}</p>
        </div>
        <div class="info-item">
          <p class="paragraph">Mailing Box Address:</p>
          <p class="paragraph">{{ contactInfo.MaillingBox }}</p>
        </div>
      </div>

      <div class="map-container">
        <iframe
          class="map-iframe"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d927758.0377266746!2d46.16296366602666!3d24.72499765722435!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e2f03890d489399%3A0xba974d1c98e79fd5!2sRiyadh%20Saudi%20Arabia!5e0!3m2!1sen!2seg!4v1766352877459!5m2!1sen!2seg"
          width="600"
          height="450"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>
    </div>
    <div class="contact-form-container">
      <form class="contact-form">
        <!-- Full Name Input -->
        <div class="div-input">
          <label for="full-name">الاسم الكامل</label>
          <input
            type="text"
            id="full-name"
            name="fullName"
            placeholder="أدخل اسمك الكامل"
          />
        </div>

        <!-- Email Input -->
        <div class="div-input">
          <label for="email">البريد الإلكتروني</label>
          <input
            type="email"
            id="email"
            name="email"
            placeholder="أدخل بريدك الإلكتروني"
          />
        </div>

        <!-- Phone Number Input -->
        <div class="div-input">
          <label for="phone">رقم الهاتف</label>
          <input
            type="tel"
            id="phone"
            name="phone"
            placeholder="أدخل رقم هاتفك"
          />
        </div>

        <!-- Message Textarea -->
        <div class="div-input message-input">
          <label for="message">الرسالة</label>
          <textarea
            id="message"
            name="message"
            rows="6"
            placeholder="اكتب رسالتك هنا"
          ></textarea>
        </div>

        <!-- Submit Button -->
        <button type="submit" class="submit-button">إرسال</button>
      </form>
    </div>
  </div>
</div>
