<div class="contact-us-section">
  <div class="section-header">
    <h2 class="main-title">{{ "CONTACT.TITLE" | translate }}</h2>
    <p class="paragraph">{{ "CONTACT.SUBTITLE" | translate }}</p>
  </div>

  <div class="container contact-content">
    <div class="contact-info-map-container">
      <div class="contact-info">
        <h3 class="sub-title">
          {{ "CONTACT.CONTACT_INFO.TITLE" | translate }}
        </h3>
        <div class="info-item">
          <img src="assets/images/Contact.svg" alt="phone number" />
          <p class="paragraph">
            {{ "CONTACT.CONTACT_INFO.PHONE.PHONE1" | translate }}
            <br />
            {{ "CONTACT.CONTACT_INFO.PHONE.PHONE2" | translate }}
          </p>
        </div>
        <div class="info-item">
          <img src="assets/images/Mail.svg" alt="mail" />
          <p class="paragraph">{{ contactInfo.email }}</p>
        </div>
        <div class="info-item">
          <p class="paragraph">
            {{ "CONTACT.CONTACT_INFO.ADDRESS.LABEL" | translate }}:
          </p>
          <p class="paragraph">{{ contactInfo.address }}</p>
        </div>
        <div class="info-item">
          <p class="paragraph">
            {{ "CONTACT.CONTACT_INFO.MAILING_BOX.LABEL" | translate }}:
          </p>
          <p class="paragraph">{{ contactInfo.MaillingBox }}</p>
        </div>
      </div>

      <div class="map-container">
        <iframe
          class="map-iframe"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d927758.0377266746!2d46.16296366602666!3d24.72499765722435!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e2f03890d489399%3A0xba974d1c98e79fd5!2sRiyadh%20Saudi%20Arabia!5e0!3m2!1sen!2seg!4v1766352877459!5m2!1sen!2seg"
          width="600"
          height="450"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
          [title]="'CONTACT.MAP.TITLE' | translate"
        ></iframe>
      </div>
    </div>
    <div class="contact-form-container">
      <form
        [formGroup]="contactForm"
        (ngSubmit)="onSubmit()"
        class="contact-form"
      >
        <!-- Full Name Input -->
        <div class="div-input">
          <label for="full-name">{{
            "CONTACT.FORM.FULL_NAME.LABEL" | translate
          }}</label>
          <input
            type="text"
            id="full-name"
            formControlName="name"
            [placeholder]="'CONTACT.FORM.FULL_NAME.PLACEHOLDER' | translate"
            [class.invalid]="
              contactForm.get('name')?.invalid &&
              contactForm.get('name')?.touched
            "
          />
          <div
            class="error-message"
            *ngIf="
              contactForm.get('name')?.invalid &&
              contactForm.get('name')?.touched
            "
          >
            <span *ngIf="contactForm.get('name')?.errors?.['required']">
              {{ "CONTACT.FORM.ERRORS.REQUIRED" | translate }}
            </span>
            <span *ngIf="contactForm.get('name')?.errors?.['minlength']">
              {{ "CONTACT.FORM.ERRORS.MIN_LENGTH_NAME" | translate }}
            </span>
          </div>
        </div>

        <!-- Email Input -->
        <div class="div-input">
          <label for="email">{{
            "CONTACT.FORM.EMAIL.LABEL" | translate
          }}</label>
          <input
            type="email"
            id="email"
            formControlName="email"
            [placeholder]="'CONTACT.FORM.EMAIL.PLACEHOLDER' | translate"
            [class.invalid]="
              contactForm.get('email')?.invalid &&
              contactForm.get('email')?.touched
            "
          />
          <div
            class="error-message"
            *ngIf="
              contactForm.get('email')?.invalid &&
              contactForm.get('email')?.touched
            "
          >
            <span *ngIf="contactForm.get('email')?.errors?.['required']">
              {{ "CONTACT.FORM.ERRORS.REQUIRED" | translate }}
            </span>
            <span *ngIf="contactForm.get('email')?.errors?.['email']">
              {{ "CONTACT.FORM.ERRORS.EMAIL" | translate }}
            </span>
          </div>
        </div>

        <!-- Phone Number Input -->
        <div class="div-input">
          <label for="phone">{{
            "CONTACT.FORM.PHONE.LABEL" | translate
          }}</label>
          <input
            type="tel"
            id="phone"
            formControlName="phone"
            [placeholder]="'CONTACT.FORM.PHONE.PLACEHOLDER' | translate"
            [class.invalid]="
              contactForm.get('phone')?.invalid &&
              contactForm.get('phone')?.touched
            "
          />
          <div
            class="error-message"
            *ngIf="
              contactForm.get('phone')?.invalid &&
              contactForm.get('phone')?.touched
            "
          >
            <span *ngIf="contactForm.get('phone')?.errors?.['required']">
              {{ "CONTACT.FORM.ERRORS.REQUIRED" | translate }}
            </span>
          </div>
        </div>

        <!-- Message Textarea -->
        <div class="div-input message-input">
          <label for="message">{{
            "CONTACT.FORM.MESSAGE.LABEL" | translate
          }}</label>
          <textarea
            id="message"
            formControlName="message"
            rows="6"
            [placeholder]="'CONTACT.FORM.MESSAGE.PLACEHOLDER' | translate"
            [class.invalid]="
              contactForm.get('message')?.invalid &&
              contactForm.get('message')?.touched
            "
          ></textarea>
          <div
            class="error-message"
            *ngIf="
              contactForm.get('message')?.invalid &&
              contactForm.get('message')?.touched
            "
          >
            <span *ngIf="contactForm.get('message')?.errors?.['required']">
              {{ "CONTACT.FORM.ERRORS.REQUIRED" | translate }}
            </span>
            <span *ngIf="contactForm.get('message')?.errors?.['minlength']">
              {{ "CONTACT.FORM.ERRORS.MIN_LENGTH_MESSAGE" | translate }}
            </span>
          </div>
        </div>

        <!-- Submit Button -->
        <button
          type="submit"
          class="submit-button"
          [disabled]="contactForm.invalid"
        >
          {{ "CONTACT.FORM.SUBMIT" | translate }}
        </button>
      </form>
    </div>
  </div>
</div>
