<!-- Floating Icons Section -->
<section class="icons-section">
  <div class="container icons-container">
    <div class="floating-icons">
      <div class="floating-icon icon-1">
        <div class="icon-circle">
          <img src="assets/images/Group 254.svg" alt="feature icon" />
        </div>
        <p class="paragraph">{{ "FLOATING_ICONS.TRANSPORT" | translate }}</p>
      </div>

      <div class="floating-icon icon-2">
        <div class="icon-circle">
          <img src="assets/images/Group 255.svg" alt="feature icon" />
        </div>
        <p class="paragraph">{{ "FLOATING_ICONS.LIBRARY" | translate }}</p>
      </div>

      <div class="floating-icon icon-3">
        <div class="icon-circle">
          <img src="assets/images/Group 256.svg" alt="feature icon" />
        </div>
        <p class="paragraph">{{ "FLOATING_ICONS.CURRICULUM" | translate }}</p>
      </div>

      <div class="floating-icon icon-4">
        <div class="icon-circle">
          <img src="assets/images/Group 257.svg" alt="feature icon" />
        </div>
        <p class="paragraph">{{ "FLOATING_ICONS.MANAGEMENT" | translate }}</p>
      </div>

      <div class="floating-icon icon-5">
        <div class="icon-circle">
          <img src="assets/images/Group 258.svg" alt="feature icon" />
        </div>
        <p class="paragraph">{{ "FLOATING_ICONS.COMPUTER_LABS" | translate }}</p>
      </div>

      <div class="floating-icon icon-6">
        <div class="icon-circle">
          <img src="assets/images/Group 259.svg" alt="feature icon" />
        </div>
        <p class="paragraph">{{ "FLOATING_ICONS.TEACHERS" | translate }}</p>
      </div>

      <div class="floating-icon icon-7">
        <div class="icon-circle">
          <img src="assets/images/Group 260.svg" alt="feature icon" />
        </div>
        <p class="paragraph">{{ "FLOATING_ICONS.SCIENCE_LABS" | translate }}</p>
      </div>

      <div class="floating-icon icon-8">
        <div class="icon-circle">
          <img src="assets/images/Group 261.svg" alt="feature icon" />
        </div>
        <p class="paragraph">{{ "FLOATING_ICONS.SPORTS_FIELDS" | translate }}</p>
      </div>
    </div>
  </div>
</section>