<div class="container mt-4">
  <h3 class="main-title">{{ "STUDENT_CLASSES.TITLE" | translate }}</h3>

  <!-- Filter Buttons -->
  <div class="mb-3 d-flex gap-2">
    <button
      class="outline-btn"
      [class.primary-btn]="filter === 'all'"
      (click)="filter = 'all'"
    >
      {{ "STUDENT_CLASSES.FILTER_ALL" | translate }}
    </button>
    <button
      class="outline-btn"
      [class.primary-btn]="filter === 'Running'"
      (click)="filter = 'Running'"
    >
      {{ "STUDENT_CLASSES.FILTER_RUNNING" | translate }}
    </button>
    <button
      class="outline-btn"
      [class.primary-btn]="filter === 'Upcoming'"
      (click)="filter = 'Upcoming'"
    >
      {{ "STUDENT_CLASSES.FILTER_UPCOMING" | translate }}
    </button>
    <button
      class="outline-btn"
      [class.primary-btn]="filter === 'Finished'"
      (click)="filter = 'Finished'"
    >
      {{ "STUDENT_CLASSES.FILTER_FINISHED" | translate }}
    </button>
  </div>

  <!-- Display Lectures -->
  <div class="row g-3">
    <div *ngFor="let lec of filteredLectures" class="col-md-6">
      <div class="card p-3">
        <h5 class="sub-title mb-1">{{ lec.subjectName }}</h5>
        <p class="text-muted mb-1">
          {{ "STUDENT_CLASSES.TEACHER" | translate }}: {{ lec.teacherName }}
        </p>
        <p class="text-muted mb-2">
          {{ "STUDENT_CLASSES.DATE" | translate }}:
          {{ lec.startTime | date : "fullDate" }}
          {{ "STUDENT_CLASSES.TIME" | translate }}
          {{ lec.startTime | date : "shortTime" }}
          <span class="text-muted mb-2">{{
            "STUDENT_CLASSES.UNTIL" | translate
          }}</span>
          {{ "STUDENT_CLASSES.TIME" | translate }}
          {{ lec.endTime | date : "shortTime" }}
        </p>
        <div class="d-flex justify-content-between align-items-center">
          <span class="badge">
            {{ lec.status }}
          </span>
          <button
            class="primary-btn"
            [disabled]="lec.status === 'Finished' || lec.status === 'Upcoming'"
            (click)="attendLecture(lec)"
          >
            {{ "STUDENT_CLASSES.ATTEND_LECTURE" | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
