/* Sticky Footer Layout */
html,
body {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
}

.app-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* full screen height */
}

.flex-grow-1 {
  flex: 1;
  /* pushes footer down */
}